* {
  font-family: 'Lato', sans-serif;
}

:root {
  background-image: url(fondomapa.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
  --text-color: #F3F6F5;
  font-size: 18px;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--text-color)
}

p {
  margin-bottom: 0.75rem;
  line-height: 1.2rem;
}

.weather-card {
  margin: 10px  10px;
  width: 90%;
  height: 85%;
  background: #f3f6f581;
  color: var(--bg-color);
  /* padding: 20px; */
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  font-size: 1vw;
  padding-top: 10%;
  display: flex;
  
}

.city {
  padding-top: 5%;
  font-size: 1.2vw;
  text-transform: uppercase;
 margin : 0px -10px 0px;
 
}

.date {
  font-size: 1.5vw;
  margin-bottom: 2rem;
  margin-top:10px;
}
.temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.temp-img {
  width: 40px;
  margin-right: 10px;
  margin-top: -20px;
}

.temp {
  font-size: 1vw;
  font-weight: bold;

}

.weather {
  margin-top: 5%;
  font-size: 1.5vw;
  margin-bottom: 1rem;
}
.clase{
  margin: 20px 15px;
  width: 90%;
  height: 90%;
  background: rgba(174, 177, 174, 0.541);
  color: var(--bg-color);
  padding: 0px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 1vw;
  overflow: auto;
  
}
.humidity{
  font-size: 15px;
  margin-top: 10px;
}
.box{
  width: 30%;
  height: 80%;
  background: rgba(174, 177, 174, 0.541);
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* padding: 1.5rem; */
}
.box2{
  width: 20%;
  height: 60%;
  background: rgba(174, 177, 174, 0.541);
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}
.aula {
  width: fit-content;
  width: 50%;
  padding-left: 2%;
  padding-right: 2%;
  img{
    width: 100%;
  }

  /* max-width: 100vw; */

}
.imagen-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.tabla{
  margin: -30px 0px 0px;
  border:"1";
}
.a1{
  padding: 5px;
}
.caja{
height: 80%;
display:flex;
align-items: flex-start;
padding-inline: 1rem;
padding-top: 1rem;
}